<html>
    <head>
        <title>Inicio</title>
    <h1>Bienvenido<h1/> 
        <a href="/empleador">Empleador</a>
        <a href="/empleados">Empleados</a>
    </head>
    <body>

    </body>
</html>

